header {
	position: absolute;
	min-width: 1200px;
	width: 100%;
	height: 110px;
	z-index: 3000;

  .hover {
    border-bottom: 1px solid #ddd;
  }

  .upper {
	  height: 40px;
	  background-color: rgba(255,255,255,.6);
  
    .upper_inner {
      position: relative;
      width: 1200px;
      height: 40px;
      margin: 0 auto;

      .logo {
        position: absolute;
        left: 0;
        top: 50px;
        z-index: 10000;
      }

      .login {
        float: right;
        text-align: center;

        > li {
          position: relative;
          float: left;
          margin-left: 10px;
          padding-left: 10px;

          > a {
            font-size: 13px;
            height: 40px;
            line-height: 40px;
            margin-top: 8px;
            color: #777;
          }      
        }
        
        > li:last-child a {
          display: block;
          margin-top: 9px;
          width: 22px;
          height: 22px;
          line-height: 22px;
          border-radius: 11px;
          font-size: 12px;
          text-align: center;
          font-weight: bold;
          color: #fff;
          background-color: #333;
        }
      }
    }
  }
   
  .menu {
    position: absolute;
    min-width: 1200px;
    width: 100%;
    height: 70px;
    top: 40px;
    z-index: 5000;
    overflow: hidden;
    background-color: rgba(255,255,255,.7);
    transition: height 0.4s;
    
    &.active {
      height: 300px;
    }

		ul.gnb  {
			margin: 0 auto;
			width: 1200px;
			height: 70px;
			text-align: center;
		
			> li {
				display: inline-block;
				vertical-align: top;
		
				> a {
					display: block;
					padding: 0 40px;
					line-height: 70px;
					font-size: 18px;
					font-weight: bold;
					transition: 0.3s;
		
					&:hover,
					&:focus,
					&.active {
						color: #ffad33;
					}
				}
			}

			ul {
				padding-top: 10px;
			}
		}
  }
}


/**/


#gnb ul ul a {
	display: block;
	padding: 0 20px 0 40px;
	height: 32px;
	line-height: 32px;
	font-size: 0.875em;
	color: #333;
	text-align: left;
}
#gnb ul ul a:hover,
#gnb ul ul li a:focus {
	color: #ffad33;
}
#header .sub_shadow {
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	height: 70px;
	background-color: #fff;
}






/**/
#footer {
	background: #1f1f1f;
	display: block;
	margin-top: 50px;
	padding-bottom: 50px;
}
#footer .rel_site {
	min-width: 1200px;
	padding: 15px 0;
	border-top: 1px solid #f1f1f1;
	background: #fff;
}
#footer .rel_site_inner {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	height: 35px;
	overflow: hidden;
}
#footer .site_wrap {
	position: relative;
	margin: 0 auto;
	max-width: 890px;
	height: 35px;
	overflow: hidden;
}
#footer .site_wrap ul {
	position: absolute;
	left: 0;
	top: 0;
	width: 1016px;
	height: 35px;
}
#footer .site_wrap ul li {
	float: left;
	width: 127px;
	height: 35px;
	text-align: center;
}
#footer .direction a {
	position: absolute;
	top: 9px;
	width: 9px;
	height: 16px;
}
#footer .direction a.prev {
	left: 0;
}
#footer .direction a.next {
	right: 0;
}
#footer .footer_menu {
	min-width: 1200px;
	height: 44px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
#footer .footer_menu_inner {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 54px;
}
#footer .footer_menu_inner ul {
	position: absolute;
	left: 0;
	top: 0;
	height: 15px;
	padding-top: 14px;
}
#footer .footer_menu_inner ul li {
	position: relative;
	float: left;
	height: 15px;
	padding-left: 30px;
	margin-left: 30px;
}
#footer .footer_menu_inner ul li::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 16px;
	background-color: #fff;
}
#footer .footer_menu_inner ul li:first-child::after {
	display: none;
}
#footer .footer_menu_inner ul li a {
	display: block;
	color: #fff;
	font-size: 13px;
}
#footer .footer_info {
	min-width: 1200px;
	height: 179px;
}
#footer .info_inner {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	padding-top: 23px;
}
#footer .footer_logo {
	float: left;
  padding-top: 34px;
  width: 143px;
}
#footer address {
	float: left;
	margin-left: 50px;
	display: block;
  width: 957px;
	line-height: 25px;
  font-size: 13px;
	font-style: normal;
	color: #fafafa;
}
#footer address span {
	font-weight: bold;
}

